<div class="row">
    <div ng-include="'/patientview_vitaltop.html'"></div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div ng-include="'/patientview_orderentry.html'"></div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div ng-include="'/patientview_prescritpion.html'"></div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div ng-include="'/patientview_laborderresult.html'"></div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div ng-include="'/patientview_radorderresult.html'"></div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div ng-include="'/patientview_allergies.html'"></div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div ng-include="'/patientview_surgery.html'"></div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div ng-include="'/patientview_diagnosis.html'"></div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div ng-include="'/patientview_familyhistory.html'"></div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div ng-include="'/patientview_immunization.html'"></div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div ng-include="'/patientview_lifestyle.html'"></div>
    </div>
    <div ng-include="'/patientview_actions.html'"></div>

</div>
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div ng-include="'/patientview_submain.html'"></div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div ng-include="'/patientview_main.html'"></div>
    </div>
</div>
<div class="row tile_count" ng-include="'/patientview_vitaltooltip.html'">
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div ng-include="'/patientview_vitalbp.html'"></div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
    </div>
</div>
<div class="row">
    <div ng-include="'/patientview_notes.html'"></div>
</div>
