<div id="userdetail">
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("EditUser")</span>
        </h4>
    </div>
    <div class="modal-body ">
        <form form-validation name="EditForm" role="form" class="form-horizontal form-label-left" novalidate>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#userproperties">User Properties</a></li>
                <li><a data-toggle="tab" href="#role">Role</a></li>
            </ul>
            <div class="tab-content">
                <div id="userproperties" class="tab-pane fade in active">
                    @Html.Partial("~/App/Main/views/usermanagement/addedit/eidtuserproperties.cshtml")
                </div>
                <div id="role" class="tab-pane fade">
                    @Html.Partial("~/App/Main/views/usermanagement/addedit/roles.cshtml")
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer noborder">
        <button type="submit" class="btn btn-default pull-right" ng-click="vm.close()">Cancel</button>
        <button type="submit" class="btn btn-primary pull-right blue " ng-disabled="EditForm.$invalid" ng-click="vm.update()">
            Save
        </button>
    </div>
</div>
