<td colspan="8" class="noborder" ng-controller="app.views.patient.surgeryvisitdetail as vm">
    <div class="row">
        <div class="abp-clickable col-md-1 col-xs-1 col-sm-1">
            <i ng-click="visit.surgeryexpanded = !visit.surgeryexpanded; vm.getSurgeryDetailByPidAndVisitId(visit.id)"
               ng-class="{'fa fa-lg fa-minus-circle text-warning  margin-left10': visit.surgeryexpanded, 'fa fa-lg fa-plus-circle text-success  margin-left10': !visit.surgeryexpanded}"></i>
        </div>
        <div class="col-md-11 col-xs-11 col-sm-11 margin-left-40 margin-top-5">
            <h5>@L("SurgeryDetail")</h5>
            <div class="row" ng-if="visit.surgeryexpanded">
                @Html.Partial("/App/Main/views/patient/view/surgery/surgerydetailbody.cshtml")
            </div>
        </div>
    </div>

</td>
