.vs/
TestResults/
build_output/
*.suo
*.sln.ide/
*.user
*.cache
[Bb]in/
[Oo]bj/
logs/
tools/NHProf/log.txt
_ReSharper*
*.ReSharper
TestResult.xml
.DS_STORE
Thumbs.db
.svn
*.patch
*.crunchproject.local.xml
*.crunchsolution.local.xml
src/TestResults/
src/.vs
EMR.Application/bin/Debug/
EMR.Core/bin/
EMR.Application/obj/
EMR.EntityFramework/bin/
EMR.EntityFramework/obj/
EMR.Web/bin/
EMR.WebApi/bin/
Tests/EMR.Tests/bin/
Tests/EMR.Tests/obj/
Tools/EMR.Migrator/bin/
packages/
EMR.Web/obj/
EMR.WebApi/obj/
EMR.Core/obj/
Tools/EMR.Migrator/obj/
/.vs/EMR/v14/.suo
/.nuget/NuGet.exe
EMR.Web/Logs/Logs.txt
.vs/EMR/v15/.suo
Repository/obj/
Repository/bin/
EMR.EntityFramework/EMR.EntityFramework.csproj.user
/EMR.Application/bin/Release
Manager/obj/
AutoCompleteIndexer/obj/
EMR.AutoCompleteIndexer/obj/
EMR.Manager/obj/
EMR.Repository/bin/
EMR.Repository/obj/
EMR.Repository/EMR.Repository.csproj.user
EMR.Manager/bin/
EMR.Web/Properties/PublishProfiles/DataCare - Web Deploy (2).pubxml
EMR.Web/Properties/PublishProfiles/DataCare - Web Deploy.pubxml
Tests/EMR.Tests/node_modules/*
!Tests/EMR.Tests/node_modules/.bin/karma.conf.js
!Tests/EMR.Tests/node_modules/.bin/gulpfile.js
!Tests/EMR.Tests/node_modules/.bin/karma.ps1
Tests/EMR.Tests/_reports/html-results.html
